arandr==0.1.11
asgiref==3.7.2
attrs==22.2.0
Brlapi==0.8.4
btrfsutil==6.3.1
cffi==1.15.1
chardet==5.1.0
cloud-init==23.2
configobj==5.0.8
cryptography==40.0.2
distlib==0.3.6
docopt==0.6.2
filelock==3.12.0
idna==3.4
Jinja2==3.1.2
jsonpatch==1.32
jsonpointer==2.3
jsonschema==4.17.3
louis==3.26.0
MarkupSafe==2.1.2
netifaces==0.11.0
nftables==0.1
oauthlib==3.2.2
Pillow==9.5.0
pipi==1.0.1
platformdirs==3.5.1
ply==3.11
psutil==5.9.5
pulsemixer==1.5.1
pycairo==1.23.0
pycparser==2.21
PyGObject==3.44.1
pyrsistent==0.19.3
pyserial==3.5
python-xlib==0.33
pywal==3.3.0
PyYAML==6.0
ranger-fm==1.9.3
Reflector==2021.11.20.2.41.3
requests==2.28.2
six==1.16.0
sqlparse==0.4.4
trash-cli==0.23.2.13.2
typing_extensions==4.6.3
ueberzug==18.2.1
urllib3==1.26.15
validate==5.0.8
virtualenv==20.21.0
