{% extends 'main/base.html' %}

{% load static %}

{% block title %}Register{% endblock %}

{% block styles %}
  {{ block.super }}
  <!-- Include main_app CSS files here -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"><br><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email"><br><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password"><br><br>

    <input type="submit" value="Register">
  </form>
{% endblock %}

{% block extra_scripts %}
  {{ block.super }}
  <!-- Include any additional JavaScript files required for this page here -->
  <!-- <script src="{% static 'main_app/js/script.js' %}"></script>
  <script src="{% static 'main_app/js/plugin.js' %}"></script> -->
{% endblock %}
